<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TmCGPTD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TeachMeChatGPT.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TmCGPTD.My.MySettings>
            <setting name="WindowPosition" serializeAs="String">
                <value>-1, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InputFontName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="InputFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="OutputFont" serializeAs="String">
                <value>BIZ UDゴシック, 8pt</value>
            </setting>
            <setting name="DefaultPresets" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Zoom1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZoomChat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DockState" serializeAs="String">
                <value />
            </setting>
            <setting name="ChatFontName" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ChatFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="max_tokens" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="temperature" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="top_p" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="n" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="logprobs" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="presence_penalty" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="frequency_penalty" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="best_of" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="stop" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="logit_bias" serializeAs="String">
                <value>Nothing</value>
            </setting>
        </TmCGPTD.My.MySettings>
        <TeachMeChatGPT.My.MySettings>
            <setting name="WindowPosition" serializeAs="String">
                <value>-1, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InputFont" serializeAs="String">
                <value>Yu Gothic UI, 10pt</value>
            </setting>
            <setting name="OutputFont" serializeAs="String">
                <value>Yu Gothic UI, 8pt</value>
            </setting>
            <setting name="DefaultPresets" serializeAs="String">
                <value />
            </setting>
        </TeachMeChatGPT.My.MySettings>
    </userSettings>
</configuration>
